@model IEnumerable<TesteFullBar.VMs.AlunoVM>

@{
    ViewData["Title"] = "Lista de Notas";
}

<h1>@ViewBag.NomeAluno</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.IdAluno">Adicionar Nova Nota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Disciplina
            </th>
            <th>
                Nota
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome_Disciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
    }
    </tbody>
</table>
