@model IEnumerable<TesteFullBar.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h1>Cursos</h1>

<p>
    <a asp-action="Create">Adiconar Novo Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cursos
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Disciplina_Id)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Curso)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Disciplina_Id)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
